<<<<<<< HEAD
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  --left_con--background: #000;
  --topBar--background: #101010;
  --container--background: rgb(18, 18, 18);
  --text-color: rgb(255, 255, 255);
  --p-color: rgb(178, 178, 178);
  background-color: var(--container--background);
  box-sizing: border-box;
}

/* The left bar  */
.karaoke-img {
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
}

.logo {
  width: 30%;
}

.web-name {
  text-transform: uppercase;
  margin: 0px;
  /* text-align: center; */
}

.left_con {
  background-color: var(--left_con--background);
  position: fixed;
  z-index: 4;
  width: 240px;
  height: 100%;
  color: var(--p-color);
  display: inline-block;
  left: 0px;
  top: 0px;
}

.ytdl {	
  display: flex;	
}	
.ytdlSpan {	
  margin-left: 6px;	
}

.karaoke-img {
  font-size: 30px;
  margin: 10px;
}

.page {
  text-transform: uppercase;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 30px;
}

.page:hover {
  color: var(--text-color);
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: column;
}

.sear-icon {
  /* width: 230px; */
}

/* The main area */
.right_con {
  left: 0%;
  width: 90%;
  height: 100%;
  top: 0;
  margin-left: 240px;
  margin-right: 90%;
}

/* The top bar */
.topBar {
  display: flex;
  /* position: sticky; */
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 64px;
  background-color: #000;
  top: 0;
  color: var(--p-color);
  justify-content: start;
  margin-left: 8%;
}

.turn-page-btn {
  font-size: 40px;
  /* margin: 10px 20px; */
  margin-right: 85px;
  color: rgb(66, 65, 65);
  height: 64px;
  display: flex;
  align-items: center;
}

.turn-page-btn:hover {
  color: #fff;
  cursor: pointer;
}

.btn-left {
  margin-left: 130px;
}

/* Search bar */
/* 
.wrap {
  max-width: 960px;
  margin: 20px auto 0 auto;
  height: auto;
} */
.search-bar-container {
  width: 500px;
  /* position: relative; */
  display: flex;
  height: 64px;
}

.search-bar {
  /* position: absolute; */
  margin-top: 13px;
  margin-left: 50px;
  width: 100%;
  height: 40px;
  font-size: 20px;
  /* border: 1px solid #0a0a0a; */
  border-radius: 15px 15px 15px 15px;
  background-color: #fff;
}

.searchSubmit {
  background-color: #e6e6e6;
  margin-top: 16px;
  margin-left: 8px;
  font-size: 13px;
  width: 70px;
  height: 35px;
}

.searchSubmit:hover {
  background-color: #fff;
  cursor: pointer;
}

.searchSubmit:active {
  background-color: #e6e6e6;
  cursor: pointer;
}

/* .search-btn {
  display: inline-block;
  margin-top: 13px;
  width: 36px;
  height: 32px;
  padding-bottom: 5px;
  background-color: #fff;
  color: #0a0a0a;
  outline: none;
  margin-right: 15px;
 
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
} */

.user-status {
  margin-left: 18%;
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
}

.user-name {
  height: 64px;
  display: flex;
  align-items: center;
  position: absolute;
  right:150px;
}

.username {
  cursor: pointer;
  margin-right: 15px;
}

.username:hover {
  color: var(--text-color);
}

.username:active {
  color: var(--p-color);
}

button {
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 20px;
}

.myPlayListBox {
  margin-bottom: 0;
}

.hide {
  display: none;
}

.hide {
  display: none;
}

.my-song {
  margin-bottom: 10px;
}

.playlist {
  cursor: pointer;
  margin-top: 10px;
  list-style-type: none;
}

.playlist:hover {
  color: white;
}

=======
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  --left_con--background: #000;
  --topBar--background: #101010;
  --container--background: rgb(18, 18, 18);
  --text-color: rgb(255, 255, 255);
  --p-color: rgb(178, 178, 178);
  background-color: var(--container--background);
  box-sizing: border-box;
}

/* The left bar  */
.karaoke-img {
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
}

.logo {
  width: 30%;
}

.web-name {
  text-transform: uppercase;
  margin: 0px;
  /* text-align: center; */
}

.left_con {
  background-color: var(--left_con--background);
  position: fixed;
  z-index: 4;
  width: 240px;
  height: 100%;
  color: var(--p-color);
  display: inline-block;
  left: 0px;
  top: 0px;
}

.ytdl {
  display: flex;
}

.ytdlSpan {
  margin-left: 6px;
}

.karaoke-img {
  font-size: 30px;
  margin: 10px;
}

.page {
  text-transform: uppercase;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 30px;
}

.page:hover {
  color: var(--text-color);
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: column;
}

.sear-icon {
  /* width: 230px; */
}

/* The main area */
.right_con {
  left: 0%;
  width: 90%;
  height: 100%;
  top: 0;
  margin-left: 240px;
  margin-right: 90%;
}

/* The top bar */
.topBar {
  display: flex;
  /* position: sticky; */
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 64px;
  background-color: #000;
  top: 0;
  color: var(--p-color);
  justify-content: start;
  margin-left: 8%;
}

.turn-page-btn {
  font-size: 40px;
  /* margin: 10px 20px; */
  margin-right: 85px;
  color: rgb(66, 65, 65);
  height: 64px;
  display: flex;
  align-items: center;
}

.turn-page-btn:hover {
  color: #fff;
  cursor: pointer;
}

.btn-left {
  margin-left: 130px;
}

/* Search bar */
/* 
.wrap {
  max-width: 960px;
  margin: 20px auto 0 auto;
  height: auto;
} */
.search-bar-container {
  width: 500px;
  /* position: relative; */
  display: flex;
  height: 64px;
}

.search-bar {
  /* position: absolute; */
  margin-top: 13px;
  margin-left: 50px;
  width: 100%;
  height: 40px;
  font-size: 20px;
  /* border: 1px solid #0a0a0a; */
  border-radius: 15px 15px 15px 15px;
  background-color: #fff;
}

.searchSubmit {
  background-color: #e6e6e6;
  margin-top: 16px;
  margin-left: 8px;
  font-size: 13px;
  width: 70px;
  height: 35px;
}

.searchSubmit:hover {
  background-color: #fff;
  cursor: pointer;
}

.searchSubmit:active {
  background-color: #e6e6e6;
  cursor: pointer;
}

/* .search-btn {
  display: inline-block;
  margin-top: 13px;
  width: 36px;
  height: 32px;
  padding-bottom: 5px;
  background-color: #fff;
  color: #0a0a0a;
  outline: none;
  margin-right: 15px;
 
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
} */

.user-status {
  margin-left: 18%;
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
}

.user-name {
  height: 64px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 150px;
}

.username {
  cursor: pointer;
  margin-right: 15px;
}

.username:hover {
  color: var(--text-color);
}

.username:active {
  color: var(--p-color);
}

button {
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 20px;
}

.myPlayListBox {
  margin-bottom: 0;
}

.hide {
  display: none;
}

.hide {
  display: none;
}

.my-song {
  margin-bottom: 10px;
}

.playlist {
  cursor: pointer;
  margin-top: 10px;
  list-style-type: none;
}

.playlist:hover {
  color: white;
}
>>>>>>> f0bf3d8dcb87fbb92c2fd42694fad76041b99102
