.carousel-item img {
  height: 918.53px;
  width: 1749.59px;
}

.menu {
  margin-right: 5%;
  margin-left: 1%;
}

.topic {}

.caterlog {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-around;
}

.describe {
  color: white;
  font-size: 24px;
}

.context {
  text-decoration: none;
  color: var(--p-color);
  font-size: 14px;
}

.recommand {
  color: white;
}

.recommand img {
  width: 200px;
  height: 200px;
}