@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  background-color: black;
  color: aliceblue;
  /* position: fixed; */
  /* overflow: auto; */
}

.coverContainer {
  height: 220px;
  width: 100%;
  /* position: fixed; */
}

.cover {
  object-fit: cover;
  width: 100%;
  margin: 0px;
  background-color: aliceblue;
  /* position: fixed; */
}

.icon {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: aliceblue;
  position: relative;
  bottom: 160px;
  left: 50px;
  /* position: fixed; */
  /* overflow: hidden; */
}

.icon img {
  object-fit: cover;
  width: 250px;
  /* position: fixed; */
}

.pro-username {
  color: white;
  position: relative;
  bottom: 275px;
  left: 400px;
  font-size: 30px;
  width: 200px;
  font-family: "Phudu", cursive;
  font-weight: bold;
  /* position: fixed; */
}

.seperator {
  height: 320px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  /* margin-left: 100px; */
}

.profilePlaylist,
.profileHistory {
  display: flex;
  flex-direction: column;
  margin: 20px;
  overflow-y: auto;
}

.playlistBlock,
.historyBlock {
  height: 250px;
  width: 280px;
  /* overflow: hidden; */
  margin: 10px;
  background-color: black;
}

.title {
  color: white;
  width: 100%;
  /* margin-left: 10px; */
  margin-bottom: 5px;
  font-size: 20px;
  text-transform: capitalize;
}

.songname {
  text-transform: capitalize;
}

.songText {
  color: white;
  width: 250px;
}

.playlistText {
  color: white;
}

.responsive {
  display: flex;
}

.song-cover {
  width: 274px;
}

.song-box {
  width: 274px;
  margin-right: 20px;
}

.readmore {
  text-transform: uppercase;
  font-size: 10px;
  color: #14c6c6;
  margin-top: 10px;
  margin-left: 90%;
}

.readmore:hover {
  cursor: pointer;
  color: #16dfdf;
}

.readmore:active {
  cursor: pointer;
  color: #14c6c6;
}


.createPlaylistContainer{
  margin-left: 30px;
}

/*
/* slicker-slideshow */
/*------ slider width ------*/
/* .slider {
  width: 90%;
  margin: 0 auto;
} */

/*------ slider image ------*/
/* .slider img {
  width: 250px;
} */

/*-------- height ----------*/
/* .slider .slick-slide {
  height: auto !important;
} */

/*--------- arrows ---------*/
/* .slider .slick-next {
  right: 0 !important;
}
.slider .slick-prev {
  left: 0 !important;
}
.slider .slick-arrow {
  width: initial !important;
  height: initial !important;
  z-index: 2 !important;
}
.slider .slick-arrow:before {
  font-size: 30px !important;
} */

/* @media only screen and (min-width: 10000px) {
  .seperator{
    height: ;
}
} */
