@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: black;
  color: aliceblue;
  /* position: fixed; */
  /* overflow: auto; */
}

/* body::-webkit-scrollbar{
  color: transparent;
} 
body:horizontal::-webkit-scrollbar{

  color: transparent;
} 

body::-webkit-scrollbar {
  width: none ;
  display: none;
  }
  body:horizontal::-webkit-scrollbar {
    width: none ;
    display: none;
    overflow: hidden;
    }
body::-webkit-scrollbar-corner {
  display: none;
}
  
body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
  } */

.coverContainer {
  /* position: fixed; */
  object-fit: cover;
  width: 100%;
  height: 20%;
  margin: 0px;
  z-index: -1;
  margin-top: 2.5%;
}

.cover {
  object-fit: cover;
  width: 100%;
  margin: 0px;
}

.icon {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: aliceblue;
  /* position: relative; */
  bottom: 160px;
  left: 50px;
  /* position: fixed; */
  /* overflow: hidden; */
}

.user-information {
  display: flex;
  margin: 20px;
}

.icon img {
  object-fit: cover;
  width: 250px;
  /* position: fixed; */
}

.pro-username {
  color: white;
  /* position: relative; */
  bottom: 275px;
  left: 400px;
  font-size: 30px;
  width: 200px;
  font-family: "Phudu", cursive;
  font-weight: bold;
  /* position: fixed; */
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.seperator {
  /* height: 320px; */
}

.mainContainer {
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  /* margin-left: 100px; */
}

.profilePlaylist,
.profileHistory {
  display: flex;
  flex-direction: column;
  margin: 20px;
  overflow-y: auto;
}

.playlistBlock,
.historyBlock {
  height: 250px;
  width: 280px;
  /* overflow: hidden; */
  margin: 10px;
  background-color: black;
}

.title {
  color: white;
  width: 100%;
  /* margin-left: 10px; */
  margin-bottom: 5px;
  font-size: 20px;
  text-transform: capitalize;
}

.songname {
  text-transform: capitalize;
}

.songText {
  color: white;
  width: 250px;
}

.playlistText {
  color: white;
}

.responsive {
  display: flex;
  width: fit-content;
}

.song-cover {
  width: 274px;
}

.song-box {
  width: 274px;
  margin-right: 20px;
}

.readmore {
  text-transform: uppercase;
  font-size: 10px;
  color: #14c6c6;
  margin-top: 10px;
  margin-left: 90%;
}

.readmore:hover {
  cursor: pointer;
  color: #16dfdf;
}

.readmore:active {
  cursor: pointer;
  color: #14c6c6;
}


.createPlaylistContainer {
  margin-left: 30px;
  margin-top: 1%;
}

.createPlaylist {
  width: 50%;
  height: 40px;
  border-radius: 15px;
}

/*
/* slicker-slideshow */
/*------ slider width ------*/
/* .slider {
  width: 90%;
  margin: 0 auto;
} */

/*------ slider image ------*/
/* .slider img {
  width: 250px;
} */

/*-------- height ----------*/
/* .slider .slick-slide {
  height: auto !important;
} */

/*--------- arrows ---------*/
/* .slider .slick-next {
  right: 0 !important;
}
.slider .slick-prev {
  left: 0 !important;
}
.slider .slick-arrow {
  width: initial !important;
  height: initial !important;
  z-index: 2 !important;
}
.slider .slick-arrow:before {
  font-size: 30px !important;
} */

/* @media only screen and (min-width: 10000px) {
  .seperator{
    height: ;
}
} */

.sliderContainer {
  display: flex;
  height: fit-content;
  position: relative;
  overflow: hidden;
  margin: 30px;
}

.sliderContainer>* {
  user-select: none;

}

img {
  pointer-events: none;
}