body{
    /* background-color: black; */
    background: url('bruno-Gi6-m_t_W-E-unsplash.jpg');
    background-size: cover;
}

.seperator{
    height: 350px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
/* margin-left:100px; */
}

.barContainer{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ytIcon{
    font-size: 40px;
    color: red;
    margin-right: 10px;
    
}

.linkInput{
    width:50%;
    height:30px;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.sendBtn{
    font-size: 30px;
    margin-left: 10px;
    color: white;
    cursor: pointer;
}
